.product_page .product_info {
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-grey-dark);

    img {
        max-width: 100%;
        max-height: 304px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .highlight {
        color: var(--color-pink-dark);
        font-weight: var(--font-semi-bold-weight);
        font-size: var(--font-m-medium-size);
    }

    .brand {
        font-size: var(--font-medium-size);
        text-transform: capitalize;
    }

    .rating {
        margin: 6px 0;
    }

    .name {
        margin-bottom: 15px;
        text-align: center;
    }

    .price {
        display: flex;
        align-items: center;
        font-size: var(--font-small-size);
    }
}