:root {
    --color-grey-dark: #4F4F4F;
    --color-grey-medium: #777777;
    --color-grey-light: #CFCFCF;
    --color-grey-x-light: #F1F1F1;
    --color-pink-dark: #FE80A6;
    --color-pink-light: #F9CCDC;
    --color-green: #0ACC54;
    --color-white: #FFFFFF;
}