:root {
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
	--font-primary-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	
    // Font Sizes
    --font-xxx-big-size: 5rem;
	--font-xx-big-size: 3.75rem;
	--font-x-big-size: 2.5rem;
	--font-big-size: 2rem;
    --font-xx-medium-size: 1.75rem;
    --font-mm-medium-size: 1.625rem;
	--font-m-medium-size: 1.5rem;
	--font-x-medium-size: 1.375rem;
	--font-medium-size: 1.25rem;
	--font-small-size: 1.125rem;
	--font-x-small-size: 1rem;
	--font-xx-small-size: 0.875rem;
	--font-xxx-small-size: 0.75rem;
	--font-xxxx-small-size: 0.625rem;
	--font-sx-small-size: 0.5rem;
    
    // Font Weights
    --font-light-weight: 300;
	--font-regular-weight: 400;
	--font-semi-bold-weight: 500;
	--font-bold-weight: 600;
	--font-ultra-weight: 700;
}