p.parcel_options {
    z-index: 0;
    width: calc(100% + 16px);
    padding: 5px 8px;
    font-weight: var(--font-light-weight);
    font-size: var(--font-xxxx-small-size);
    background-color: var(--color-grey-x-light);
}